{:paths ["resources" "src/clj"]
 :deps  {ring/ring-jetty-adapter {:mvn/version "1.9.5"}
         compojure/compojure     {:mvn/version "1.7.0"}
         ring/ring-json          {:mvn/version "0.5.1"}
         uberdeps/uberdeps       {:mvn/version "1.1.4"}}}