;; shadow-cljs configuration
{:source-paths
 ["src/cljs"]

 :dependencies
 [[cljs-ajax "0.7.5"]
  [cheshire "5.11.0"]]

 :dev-http
 {8280 {:root      "resources/public"
        :proxy-url "http://localhost:3000"}}

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules
   {:app ; becomes public/js/compiled/app.js
    {:init-fn ui/init}}}}}
