{:deps {org.apache.lucene/lucene-core        {:mvn/version "8.7.0"}
        org.apache.lucene/lucene-queries     {:mvn/version "8.7.0"}
        org.apache.lucene/lucene-queryparser {:mvn/version "8.7.0"}}}