{:paths ["resources" "src"]
 :deps {compojure/compojure {:mvn/version "1.6.2"}
        ring/ring {:mvn/version "1.9.5"}
        ring/ring-defaults {:mvn/version "0.3.2"}
        selmer/selmer {:mvn/version "1.12.33"}}}
